*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins',sans-serif;

}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: url(/images/veg.jpg);*/
    background-color:#333;
    background-size: cover;

}
.contact .content 
{
max-width: 800px;
text-align: center;

}
.contact .content h2
{
font-size: 36px;
font-weight: 500 ;
color: rgb(119, 217, 235)

}
.contact .content p
{
font-size: 25px;
font-weight: 300 ;
color: rgb(231, 216, 129)

}
.container
{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;


}
.container .contactInfo
{
   width: 500%;
   display: flex;
   flex-direction: column;

}
.container .contactInfo .box
{
    position:relative;
    padding: 20px 0;
    display: flex;

}
.container .contactInfo .box .icon
{
  display:flex;
  justify-content: center;
  align-items: center;

}
.container .contactInfo .box .text
{
display: flex;
margin-left: 150px;
font-size: 25px;
color: #fff;
flex-direction:column;
font-weight: 150;
}

.container .contactInfo .box .text h3
{
  font-weight: 1000;
  color:aqua;
}

.contactForm
{
width: 40%;
padding: 40px;
background: rgb(255, 255, 255);
margin-left: 300px;

}
.contactForm h2
{
 font-size: 30px;
 color: #333;
 font-weight: 500;

}
.contactForm .inputBox
{

position: relative;
width: 100%;
margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
 width: 100%;
 padding:  5px 0;
 font-size: 16px;
 margin: 10px 0;
 border:none;
 border-bottom: 2px solid #333;
 outline: none;
 resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding:  5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
   color:#e91e63;
   font-size: 12px;
   transform: translate(-100px);

}
.contactForm .inputBox input[type="submit"]
{
   width: 100px;
   background: #00bcd4;
   color:#fff;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;


}